{% extends "talk/base.html" %}
{% block content %}
<br><br>
<div class="row white">
    <div class="large-12 columns">
        <a href="/logout" class="right">Logout</a>
        <h2>Hi, {{request.user.username}}</h2>
    </div>
</div>
<div class="row white">
    <div class="columns large-12">
        <form id="post-form" onsubmit='return false;' >
            {% csrf_token %}
            <input type="text" id="the_post" required/>
            <div id="results"></div>
            <input type='submit' id='create_post_btn' class="tiny button" />
        </form>

        <hr>

        <div id="talk">
           <!-- The feed -->
            {% for p in all_posts %}
                <div class="panel radius" id='post-{{p.pk}}'>

                    <p>
                        <p class="ptxt">{{p.text}}</p>
                            <br>
                                <p class="pfooter" style='text-align:right;'>
                                    <em style='font-size:.7em'>— {{ p.author }} on {{p.created}}                    
                                            {% if p.author == request.user %}
                                            &nbsp;&middot;&nbsp;<a id='open-edit-post-{{p.pk}}'>Edit</a>
                                            &nbsp;&middot;&nbsp;<a id='delete-post-{{p.pk}}'>Delete</a>
                                            {% endif %}
                                    </em>
                                </p>
                    </p>

                    <form onsubmit='return false;' style='display:none;' id='edit-post-box-{{p.pk}}'>   

                        {% csrf_token %}
                        <div class="row">
                            <div class="large-12 columns">
                                <input type='hidden' name='postpk' value='{{p.pk}}'/>
                                <textarea name="edited_post" id='edited_post-{{p.pk}}'></textarea>
                                <input type='submit' value='Update Post' id='edit-post-submit-{{p.pk}}' class='commentcenter tiny button' />
                            </div>
                        </div>
                    </form>

                {% for c in p.comment_set.all %}
                    <div class='comment' id='comment-{{c.pk}}'>
                        <p class="ctxt">{{c.text}}</p>
                            <br>
                                <p class="cfooter">
                                    <em style='font-size:.7em'>— {{ c.author }} on {{c.created}}                    
                                        {% if c.author == request.user %}
                                        &nbsp;&middot;&nbsp;<a id='open-edit-comment-{{c.pk}}'>Edit</a>
                                        &nbsp;&middot;&nbsp;<a id='delete-comment-{{c.pk}}'>Delete</a>
                                        {% endif %}
                                    </em>
                                </p>

                    <form onsubmit='return false;' style='display:none;' id='edit-comment-box-{{c.pk}}'>   

                        {% csrf_token %}
                        <div class="row">
                            <div class="large-12 columns">
                            <input type='hidden' name='commentpk' value='{{c.pk}}'/>
                            <textarea name="edited_comment" id='edited_comment-{{c.pk}}'></textarea>
                            <input type='submit' value='Update Comment' id='edit-comment-submit-{{c.pk}}' class='commentcenter tiny button' />
                            </div>
                        </div>
                    </form>

                    </div>
                {% endfor %}

                    <a class='commentcenter' id="open-comment-{{p.pk}}">Add a Comment</a> 

                    <form onsubmit='return false;' style='display:none;' id='comment-box-{{p.pk}}'>

                        {% csrf_token %}
                        <div class="row">
                            <div class="large-12 columns">
                                <textarea id="comment-for-{{p.pk}}"></textarea>
                                <input type='submit' value='Add a Comment' id='comment-submit-{{p.pk}}' class='commentcenter tiny button' />
                            </div>
                        </div>
                    </form>                    
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="static/scripts/main.js"></script>
{% endblock %}
