{% extends "talk/base.html" %}
{% block content %}
<br><br>
<div class="row white">
    <div class="large-12 columns">
        <a href="/logout" class="right">Logout</a>
        <h2>Hi, {{request.user.username}}</h2>
    </div>
</div>
<div class="row white">
    <div class="columns large-12">
        <form onsubmit='return false;' >
            {% csrf_token %}
            <input type="text" id="the_post" />
            <div id="results"></div>
            <input type='submit' id='create_post_btn' class="tiny button" />
        </form>
        
        <hr>
        
        <div id="talk">
           <!-- The feed -->
            {% for p in all_posts %}   
                <div class="panel radius" id='post-{{p.pk}}'> 

                    <p>
                        {{p.text}}
                        <br><em style='font-size:.7em;'>— {{ p.author }} on {{p.created}}</em>
                    </p>
                
                {% for c in p.comment_set.all %}
                    <p class='comment'>
                        {{ c.text }}
                        <br><em style='font-size:.7em;'>— {{ c.author }} on {{c.created}}</em>
                    </p>
                {% endfor %}
                    <!-- When you click Comment it shows the comment box form and hides the comment button -->
                    <a id="open-comment-{{p.pk}}" >Comment</a>

                    <form onsubmit='return false;' style='display:none;' id='comment-box-{{p.pk}}'>
                        {% csrf_token %}
                        <input type="text" id="comment-for-{{p.pk}}" />
                        <input type='submit' id='comment-submit-{{p.pk}}' class='tiny button' />
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="static/scripts/main.js"></script>
{% endblock %}